* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
  }

  /* HEADER & NAV STYLES */

  header {
      background-color: #333333;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 15px;
      position: relative;
  }

  .name {
    background-color: #66b2b2;
    padding: 5px 10px 0px 65px;
    height: 60px;
  }

  .name h1 {
      font-size: 50px;
      color: #333333;
      font-weight: 550;
  }

  header a {
      color: #66b2b2;
      text-decoration: none;
  }

  header nav {
      margin: 20px 0;
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }

  header nav ul li a {
      padding: 10px 20px;
      font-weight: lighter;
      font-size: 1.55vw;
      border-bottom: #66b2b2 solid 5px;
  }

  header div {
      padding: 0px 5px;
  }

  .resume {
      display: flex;
  }

  /* HERO STYLES */

  .hero {
      background-image: url("../images/hero.jpg");
      background-size: cover;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      background-attachment: fixed;
      background-position: 80%;
      padding: 90px;
      position: relative;
  }

  .hero h2 {
      background-color: #66b2b2;
      padding: 10px;
      position: absolute;
      bottom: 0;
      margin: 20px;
      color: #333333;
  }

  /* STYLE ALL SECTION TAGS */

  section {
      padding: 60px;
  }

  .section-header {
    display: inline-flex;
    width: fit-content;
    margin: 0;
    border-right: solid #1E3F66 8px;
  }

  .section-header h2 {
      color: #1E3F66;
      font-size: 45px;
      padding: 10px;
      text-align: right;
      width: 188px;
  }

  /* ABOUT ME STYLES */

  .about-me {
      display: flex;
  }

  .avatar img {
      display: inline-flex;
      flex-wrap: wrap;
      width: 20%;
  }

  .about-me-text {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .about-me-text p {
      color: #1E3F66;
      line-height: 1.6;
  }
  

  /* WORK STYLES */

  .work {
      display: flex;
  }

  .portfolio {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .run-buddy img{
      max-width: 1344px;
      border: #66b2b2 solid 4px;
      height: 350px;
      margin-bottom: 10px;
      position: relative;
      opacity: .7;
  }

  .rain-report img, .robot-gladiators img, .silver-laser img, .puzzle img{
    width: 567px;
    border: #66b2b2 solid 4px;
    display: inline-flex;
    flex-wrap: wrap;
    height: 150px;
    margin-bottom: 10px;
    position: relative;
    opacity: .7;
  }

  .robot-gladiators, .silver-laser {
      margin-right: 10px;
  }

  .run-buddy div {
      background-color: #66b2b2;
      position: absolute;
      bottom: -5%;
      padding: 10px;
  }

  .robot-gladiators div {
    background-color: #66b2b2;
    position: absolute;
    bottom: -35%;
    padding: 10px;
    z-index: 999;
  }

  .silver-laser div{
      background-color: #66b2b2;
      position: absolute;
      bottom: -50%;
      padding: 10px;
  }

  .puzzle div {
    background-color: #66b2b2;
    position: absolute;
    bottom: -35%;
    padding: 10px;
  }

  .rain-report div {
    background-color: #66b2b2;
    position: absolute;
    bottom: -50%;
    padding: 10px;
  }

  .portfolio-text h3 {
      font-size: 20px;
      color: #333333;
      text-decoration: none;
  }

  .portfolio-text p {
      color: #333333;
      text-decoration: none;
      font-size: 15px;
  }

  .rain-report a:link, .robot-gladiators a:link, .silver-laser a:link, .puzzle a:link, .run-buddy a:link {
      text-decoration: none;
      color: #333333;
  }

  .rain-report a:visited, .robot-gladiators a:visited, .silver-laser a:visited, .puzzle a:visited, .run-buddy a:visited {
    text-decoration: none;
    color: #333333;
}

  .rain-report img:hover, .robot-gladiators img:hover, .silver-laser img:hover, .puzzle img:hover, .run-buddy img:hover {
      opacity: 1;
}


  /* CONTACT ME STYLES */

  .contact-me {
      display: flex;
      flex-wrap: wrap;
  }

  .contact-me-text {
    padding-left: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-me-text ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;   
  }

  .contact-me-text a {
      text-decoration: none;
      color: #1E3F66;
  }

  .contact-me-text ul li a {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: #1E3F66 solid 5px;
    justify-content: space-between;
  }

  .contact-me-text div {
    padding: 0px 40px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 12px;
        padding: 7px;
    }

    .run-buddy img {
        max-width: 642px;
    }

    .rain-report img, .robot-gladiators img, .silver-laser img, .puzzle img {
        max-width: 315px;
    }

    .run-buddy div {
        bottom: -25%;
    }

    .robot-gladiators div, .puzzle div {
        bottom: -55%;
    }

    .silver-laser div, .rain-report div {
        bottom: -75%;
    }

    .contact-me-text div {
        padding: 0px 5px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header nav ul li a {
        padding: 7px;
    }

    .run-buddy img {
        max-width: 432px;
    }

    .rain-report img, .robot-gladiators img, .silver-laser img, .puzzle img {
        max-width: 211px;
    }

    .run-buddy div {
        bottom: -45%;
    }

    .robot-gladiators div, .puzzle div {
        bottom: -75%;
    }

    .silver-laser div, .rain-report div {
        bottom: -95%;
    }

    .contact-me-text ul li a {
        padding: 5px 5px;
    }

    .contact-me-text div {
        padding: 0px 5px;
        flex-wrap: wrap;
        display: inline-flex;
    }
}


 /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
 @media screen and (max-width: 575px) {
    header nav ul li a {
        padding: 7px;
    }

    .run-buddy img {
        max-width: 239px;
        height: 200px;
    }

    .rain-report img, .robot-gladiators img, .silver-laser img, .puzzle img {
        max-width: 239px;

    }

    .run-buddy div {
        bottom: -70%;
    }

    .robot-gladiators div{
        bottom: -90%;
    }

    .puzzle div {
        bottom: -110%;
    }

    .silver-laser div{
        bottom: -130%;
    }

    .rain-report div {
        bottom: -150%;
    }

    .contact-me-text ul li a {
        padding: 0px 1px;
        font-size: 8px;
    }

    .contact-me-text div {
        padding: 0px 1px;
        flex-wrap: wrap;
        display: inline-flex;
    }
 }